body{
    
    border: 3px solid greenyellow;
    background-color: black;
    
}

#contenedor{
    display:flex;
    flex-direction: row;
}

h4{
    margin: 10px 15px;
}



#encabezado{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 50px;
    padding: 10px 10px;
    align-items: flex-start;
}   
p{
    color: rgb(241, 247, 245);
}

#titulo{
    margin: 10px 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.op{
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 display: inline-block;
 color: black;
 background-color: rgb(181, 186, 174);
 padding: 8px 20px;
 text-decoration: none;
 justify-content: space-around;
}

.enlaceNav{
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 display: inline-block;
 color: black;
 background-color: greenyellow;
 padding: 10px 30px;
 text-decoration: none;
 justify-content: space-around;
}

/* Cambiar color cauando el cursor seleccione */
.enlaceNav:hover{
    background: black;
    color: greenyellow;

}

/* contenedor padre NAV */
nav{
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0);
    padding: 15px;
    border: 2px solid white;
}

#seccion{
    background-color: black;
    color: antiquewhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    border: 2px solid white;
}

#columnas{
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.imagenes{
    display: flex;
    color: blanchedalmond;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#promo{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imgs{
    display: flex;
}



#grande img{
    height: 400px;
    width: 400px;
}

picture img{
    height: 180px;
    width: 180px;
    margin: 10px 10px;
    display: flex;
    justify-content: space-around;
}


#pie{
    width: 100%;
    background-color:rgb(0, 0, 0);
    color: chartreuse;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid white;
    font-size: larger;
    font-family: monospace;

}
.fijar{
    position: fixed;
    left: 0px;
    bottom: 0px;
}

/* PRODUCTOS */

#productos{
    justify-content: space-around;
}

