body{
    
    border: 3px solid greenyellow;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#contenedor{
    display:flex;
    flex-direction: row;

}

h4{
    margin: 10px 15px;
}



#encabezado{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 50px;
    padding: 10px 10px;
    align-items: flex-start;
}   
p{
    color: rgb(241, 247, 245);
}

#titulo{
    margin: 10px 20px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.enlaceNav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 display: inline-block;
 color: black;
 background-color: greenyellow;
 padding: 10px 30px;
 text-decoration: none;

}

/* Cambiar color cauando el cursor seleccione */
.enlaceNav:hover{
    background: black;
    color: greenyellow;
    
}

/* contenedor padre NAV */
nav{
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0);
    padding: 15px;
    border: 2px solid white;
}

#seccion{
    background-color: black;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 900px;
    padding: 10px;
    border: 2px solid white;
}

#columnas{
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
}


.imagenes{
    display: flex;
    color: blanchedalmond;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}


#promo{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imgs{
 
    display: flex;
    margin-bottom: 20px;

}
ch{
    display: flex;
    margin-bottom: 20px;
}





picture img{
    height: 190px;
    width: 190px;
    margin: 10px 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

#descripcion{
    margin: 5px 5px 5px;
}


#pie{
    width: 100%;
    background-color:rgb(0, 0, 0);
    color: chartreuse;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid white;
    font-size: larger;
    font-family: monospace;

}
.fijar{
    position: fixed;
    left: 0px;
    bottom: 0px;
}

/* PRODUCTOS___________________________________________________________ */

/*#fila1{
    margin-top: 10px;
    display: flex;
    color: blanchedalmond;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#fila2{
    margin-top: 10px;
    display: flex;
    color: blanchedalmond;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}*/

.op{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     display: inline-block;
     color: black;
     background-color: rgb(181, 186, 174);
     padding: 5px 15px;
     text-decoration: none;
     justify-content: space-around;
    }

/* Cambiar color cauando el cursor seleccione */
.op:hover{
    background: greenyellow;;
    color: black;
}

#seccionProductos{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    justify-content: space-around;
    border: sollid 2px white;
}
.productos img{
    width: 180px;
    
}

.productos{

    border: solid greenyellow ;
    width: 2px;
    padding-bottom: 10px;
    margin-bottom: 2%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap
    display-flex;
    flex-direction: row;
}

.productos:hover{
    background-color: rgb(33, 34, 33);
    color: greenyellow;
}

.precio{
    color: chartreus;
}

.estiloProducto{
    color: wheat;
}

/* CONTACTOS ________________________________________________- */

#seccionCont{
    background-color: black;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    width: 700px;
    border: solid white;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

input, label, option{
    width: 500px;
}
input, select {
    height: 20px;
    padding: 3px;
    border-radius: 10px;
    
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
select{
    height: 30px;
    font-size: 20px;
}
label {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0;
}

textarea {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    resize: none;
}

hr {
    margin: 20px 0;
}


.seccionCont {
    background-color: var(--primario);
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--oscuro);
    width: 900px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.labels {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    margin: 10 px 0;
}

.boton {
    height: 4rem;
    width: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    border: 1px solid var(--oscuro);
    border-radius: 0.5rem;
    background-color: var(--primario);
    color: var(--oscuro);
}

.boton:hover {
    cursor: pointer;
}

.boton:focus {
    background-color: #18dae0;
    color: var(--oscuro);
}

#comentario{
    width: 700px;
}



/* NOSOTROS_________________________________________________________ */

#nosotros{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(138, 216, 22);
color: rgb(0, 0, 0);
height: 220px;
text-align: justify;
border: sollid 2px white;
padding: 20px;
color: rgb(22, 52, 7);


}
.seccionNos{
    width: 900px;
    margin: auto;
    border: sollid 2px white;
}

.LOGO{
    display: flex;
    justify-content: center;
    border: sollid 2px white;
    color: antiquewhite;
    width: 900px;
}
#logo{
    height: 300px;
    width: 300px;
}

/*Login ______________________________________________________________*/
#Enzabechado{
    padding-top: 100px;
}
#cuadroVerde{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 700px;
    background-color: greenyellow;
    display: flex;
    margin: auto;
    

}
#ingresar{
    margin-top: 20px;
}
.contenedorVerde{
    padding-bottom: 115px;
    
}
#seccionAdm{
    
        background-color: black;
        color: antiquewhite;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        align-content: center;
        width: 900px;
        height: 600px;
        border: solid white;
        margin: auto;
        display: flex;
        flex-direction: column;
        
}

#contenedorE{
    
    align-items: center;
    background-color: black;
    color: rgb(122, 190, 39);
}

#back{
    height: 30px;
    background-color: greenyellow ;
    color: black;
    text-decoration: none;
}









